@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
}

@variant dark (&:is(.dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
